body {
	font: 16px/1.4 $font, serif;
	color: var(--color-main);
}

#app {
	padding-top: 64px;

	@media (min-width: $media-md) {
		padding: 210px 0 261px;
	}
}

.container {
	max-width: 995px;
	margin: 0 auto;
	padding: 16px;
}

.label {
	cursor: pointer;
}